<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" media="screen and (max-width:900px)" href="static/css/phone.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <section id="contact">
        <h1 class="h-primary-center">
            Contact Us
        </h1>
        <div class="contact-box">
            <form action="https://api.web3forms.com/submit" method="POST">
                <div class="form-item">
                    <input type="hidden" name="access_key" value="45b77f56-5af1-4fc8-9984-ac8e56a3969f">
                    <label for="Name">Name: </label>
                    <input type="text" placeholder="Enter your Name" id="name">
                <!-- </div> -->
                <!-- <div class="form-item"> -->
                    <label for="Phone">Phone Number: </label>
                    <input type="number" placeholder="Enter your Phone Number" id="Phone">
                <!-- </div> -->
                <!-- <div class="form-item"> -->
                    <label for="email">Email: </label>
                    <input type="text" placeholder="Enter your Email" id="email">
                <!-- </div> -->
                <!-- <div class="form-item"> -->
                    <label for="message">Message: </label>
                    <textarea name="message" id="message" cols="30" rows="10">Message</textarea>
                </div>
                <button class="btn1">Submit</button>
            </form>


        </div>

    </section>
</body>
</html>