<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Food Delivery | mymeals.com</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" media="screen and (max-width:900px)" href="static/css/phone.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Days+One&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">

   

</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="static/image/logo1.png" alt=" logo" height="40px" width = "40px">
            <div id = "foody">
                <h1 ><strong>Foody</strong>  </h1>
            </div>
          
            
        </div>
        <div >
            <ul id="center_navbar">
                <li><a class="item" href="/">Home</a></li>
                <!-- <li ><a class = "item"  href="#services-container"></a></li> -->
                <!-- <li ><a class = "item"  href="#clients-section">Our clients</a></li> -->
                <li><a class="item" href="/order">Menu</a></li>
                <li><a class="item" href="/contact">Contact us</a></li>

            </ul>
          </div>
          
        <div class="main_cart">
            <a href="templates\cart.html">
            <svg xmlns="http://www.w3.org/2000/svg"  class="cart" >
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
              </svg>
            </a>
        </div>
    </nav>
    <section class="order_main">
        <div id = "item">
            <div class = "image">
            <img id= "image" src="static/image/ss8.jpg" alt="">
            </div>
            <h1>Hot Wings</h1>
            <h2>&#8377;70.00</h2>
            <button>Add to cart</button>
        </div>
        <div id = "item">
            <div class = "image">
            <img id= "image" src="static/image/ss7.jpg" alt="">
            </div>
            <h1>Fish dish</h1>
            <h2>&#8377;70.00</h2>
            <button>Add to cart</button>
        </div>
        <div id = "item">
            <div class = "image">
            <img id= "image" src="static/image/ss6.jpg" alt="">
            </div>
            <h1>Pasta with meat</h1>
            <h2>&#8377;70.00</h2>
            <button>Add to cart</button>
        </div>
        <div id="item">
                <div class="image">
                    <img id="image" src="static/image/ss5.jpg" alt="">
                </div>
                <h1>Roasted chicken</h1>
                <h2>&#8377;70.00</h2>
                <button>Add to cart</button>
            </div>
        <div id = "item">
            <div class = "image">
            <img id= "image" src="static/image/ss9.jpg" alt="">
            </div>
            <h1>Crepes</h1>
            <h2>&#8377;70.00</h2>
            <button>Add to cart</button>
        </div>
        <div id = "item">
            <div class = "image">
            <img id= "image" src="static/image/ss10.jpg" alt="">
            </div>
            <h1>Burger</h1>
            <h2>&#8377;70.00</h2>
            <button>Add to cart</button>
        </div>
        <div id="item">
            <div class="image">
                <img id="image" src="static/image/ss3.jpg" width="200" height="300">
            </div>
            <h1>Spaghetti pasta</h1>
            <h2>&#8377;70.00</h2>
            <button>Add to cart</button>
        </div>
        </div>
        <div id = "item">
            <div class = "image">
            <img id= "image" src="static/image/ss11.jpg" alt="">
            </div>
            <h1>Noodles</h1>
            <h2>&#8377;70.00</h2>
            <button>Add to cart</button>
        </div>
        <div id = "item">
            <div class = "image">
            <img id= "image" src="static/image/ss12.jpg" alt="">
            </div>
            <h1>Chicken kebab</h1>
            <h2>&#8377;70.00</h2>
            <button>Add to cart</button>
        </div>
        <div id="item">
            <div class="image">
                <img id="image" src="static/image/ss4.jpg" alt="">
            </div>
            <h1>Pizza</h1>
            <h2>&#8377;70.00</h2>
            <button>Add to cart</button>
        </div>
        <div id = "item">
            <div class = "image">
            <img id= "image" src="static/image/ss13.jpg" alt="">
            </div>
            <h1>Malai Kofta</h1>
            <h2>&#8377;70.00</h2>
            <button>Add to cart</button>
        </div>
        <div id = "item">
            <div class = "image">
            <img id= "image" src="static/image/ss14.jpg" alt="">
            </div>
            <h1>Chicken patties</h1>
            <h2>&#8377;70.00</h2>
            <button>Add to cart</button>
        </div>
        
        
     
        
    </section>
    <footer class="center">
        copyright &copy; foodie.com

    </footer>
    
</body>
</html>
